.report {
    margin-top: 5rem;
    margin-bottom: 6rem;
}

.payment-item {
    padding-left: 3rem;
}

@media only screen and (min-width : 768px) {
    .report {
        padding-left: 5rem;
        padding-right: 5rem;
    }

}