/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.page-title {
	text-align: center;
}

.mat-form-field {
	width: 300px;
}

@media only screen and (min-width : 360px) {
	.mat-table {
		margin: 0rem 0rem 6rem 0rem;
	}
}
@media only screen and (min-width : 768px) {
	.mat-table {
		margin: 0rem 3rem 6rem 3rem;
	}
}

.mat-card {
    transform: translatey(3rem);
    margin-bottom: 3rem;
}

.mat-card-content {
    margin-top: 2rem;
}

.mat-toolbar {
	background: #0cb8f3 !important;
	color: white;
}

.mat-sidenav{
	background: #0cb8f3 !important;
	color: white !important;
	border-right:1px solid #ccc;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}

.mat-nav-list {
	background: #0cb8f3 !important;
	color: white !important;
	width:15rem;
}

.mat-cell {
	padding-right: 10px;
}
.mat-header-cell {
	padding-right: 10px;
}

.text-center {
	text-align: center;
}

.bg-transparent {
	background: transparent !important;
}
.color-red {
	color: red;
}
.color-blue {
	color: dodgerblue;
}

// Forms
.mat-card {
	text-align: center;
}
.mat-card-subtitle {
	padding-top: 2rem;
	font-weight: bold;
}

.form-buttons {
	padding-top: 0rem;
}

.clear-button {
	margin-left: 7rem !important;
}