<div class="contract">
  <h1 class="page-title">Contratos</h1>

  <div layout="row" class="filter-input">
    <mat-form-field>
      <mat-select [(ngModel)]="filterBy" placeholder="Pesquisar por:">
        <mat-option value="creation_date">Data de criação</mat-option>
        <mat-option value="modified_date">Data de alteração</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="filterBy">
      <input matInput [(ngModel)]="initialDate" [matDatepicker]="picker" placeholder="Data inicial">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field *ngIf="filterBy">
      <input matInput [(ngModel)]="finalDate" [matDatepicker]="picker2" placeholder="Data final">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <button mat-button *ngIf="filterBy" color="primary" class="addbtn" [disabled]="!initialDate && !finalDate" (click)="filterByDate()">Pesquisar</button>
  </div>
  <div class="filter-input">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="searchText" placeholder="Filtrar">
    </mat-form-field>
  </div>
  <div class="add-button">
    <button mat-button class="addbtn" color="primary" (click)="newContract()">
      <mat-icon>add</mat-icon>Novo Contrato</button>
  </div>

  <mat-table #table [dataSource]="data" matSort>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Country Column -->
    <ng-container matColumnDef="country">
      <mat-header-cell *matHeaderCellDef mat-sort-header> País </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.country}} </mat-cell>
    </ng-container>

    <!-- State Column -->
    <ng-container matColumnDef="state">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.state}} </mat-cell>
    </ng-container>

    <!-- City Column -->
    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Cidade </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.city}} </mat-cell>
    </ng-container>

    <!-- Value Column -->
    <ng-container matColumnDef="value">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Valor: </mat-header-cell>
      <mat-cell *matCellDef="let element">R$ {{_parseCurrency(element.value)}} </mat-cell>
    </ng-container>

    <!-- Installments Column -->
    <ng-container matColumnDef="number_installments">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nº de Parcelas: </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.number_installments}} </mat-cell>
    </ng-container>

    <!-- Creation Date Column -->
    <ng-container matColumnDef="creation_date">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Criado em: </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.creation_date | date:'dd/MM/yy HH:mm:ss'}} </mat-cell>
    </ng-container>

    <!-- Modified Date Column -->
    <ng-container matColumnDef="modified_date">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Modificado em: </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.modified_date | date:'dd/MM/yy HH:mm:ss'}} </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Ações: </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon class="color-blue" matTooltip="Editar" (click)="editContract(element.id)">edit</mat-icon>
        <mat-icon class="color-red" matTooltip="Remover" (click)="remove(element.id)">delete</mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
</div>