<p>
  list-client works!
</p>

<p>
  list-client works!
</p>

<mat-table #table [dataSource]="data" matSort>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <!-- Country Column -->
  <ng-container matColumnDef="country">
    <mat-header-cell *matHeaderCellDef mat-sort-header> País </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.address.country}} </mat-cell>
  </ng-container>

  <!-- State Column -->
  <ng-container matColumnDef="state">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.address.state}} </mat-cell>
  </ng-container>

  <!-- City Column -->
  <ng-container matColumnDef="city">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Cidade </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.address.city}} </mat-cell>
  </ng-container>

  <!-- Creation Date Column -->
  <ng-container matColumnDef="creation_date">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Criado em: </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.address.creation_date}} </mat-cell>
  </ng-container>

  <!-- Modified Date Column -->
  <ng-container matColumnDef="modified_date">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Modificado em: </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.address.modified_date}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>