header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: #0cb8f3;
  color: white;
  z-index: 9;

  .left-align {
    left: 1rem;
    top: 0.3rem;
  }

  .right-align {
    right: 1rem;
    top: 0.3rem;
  }

  div {
    position: absolute;
  }

}